@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* BODY - START */

body{
  margin: 0;
  font-family: 'Poppins';
}

/* BODY - END */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #1E5617;
  overflow: hidden;
  z-index: 999;
}

nav ul {
  margin: 0;
  padding-right: 200px;
  list-style: none;
  text-align: right;
}

nav li {
  display: inline-block;
  padding-right: 20px;
  padding-top: 20px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 75px 75px;
  outline: none;
}
.wrap{
  position: relative;
    top: 0;
    left: 0;
    transform: none;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  border-radius: 75px 75px;
  background-color: #FDE125;
  color: black;
}

/* NAVIGATION BAR  - END */

/* HOMEPAGE - START*/

  /* Home Section */
  .home-section{
    background-color: #195115; 
  }
  .home-section img{
    background-position: center;
    background-size: cover;
    height: 80vh;
  }
  /* Categories Section */
  .categories-section{
    padding: 52px 20px 20px 20px 20px; 
    display: flex;
    justify-content: center;
    background: #195115;
    height: 100vh;
      
  }
  .categories-section h2{
    font-weight: 600;
    font-size: 39px;
    line-height: 55px;
    color: #F29C00;
    padding-top: 10px;
    margin-left: 30px;
  }
  .categories-section h3{
  padding-top: 3px;
  }
  .categories .categories-container{
    display: block;
    margin: auto;
    width: fit-content;
  }
.categories-section .categories-container-item{
  display: block;
  padding-right: 10px;
  width: 230px;
  height: 250px;
  background: #062D18;
  border-radius: 10px;
  margin-left: 15px;
  text-align: center;
  padding-bottom: 20px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.categories-container-item:hover {
  opacity: 0.5;
}
.categories-section .categories-item-pic{
  box-shadow: 0 5px 20px rbga (0,0,0,1.2);
}
.categories-section .img-container
{
  width: 281px;
  height: 226px;
  border-radius: 10px;
}
.categories-section .categories-item-text{
height: 40px;
width: 240px;
background: #F9A620;
border-radius: 10px;
padding-bottom: 1px;
}
.categories-section .img-bg
{
  background: #062D18;
  border-radius: 10px;
}
.categories-section .imgBx:hover .img-container{
  transform: scale(1.1);
}
.categories-section .imgBx:hover .img-bg{
  transform: scale(1.1);
}
.categories-section .categories-container-row{
  display: flex;
    margin-left: 15px;
    margin-top: 40px;
}
#cat-1{
  background: url(imgs/home/cat-1.png) no-repeat center;
  object-fit: contain;
  object-position: center;
}
#cat-2{
  background: url(imgs/home/cat-2.png) no-repeat center;
  object-fit: contain;
  object-position: center;
}
#cat-3{
  background: url(imgs/home/cat-3.png) no-repeat center;
  object-fit: contain;
  object-position: center;
}
#cat-4{
  background: url(imgs/home/cat-4.png) no-repeat center;
  object-fit: contain;
  object-position: center;
}
#cat-5{
  background: url(imgs/home/cat-5.png) no-repeat center;
  object-fit: contain;
  object-position: center;
}
#cat-6{
  background: url(imgs/home/cat-6.png) no-repeat center;
  object-fit: contain;
  object-position: center;
}
#cat-7{
  background: url(imgs/home/cat-7.png) no-repeat center;
  object-fit: contain;
  object-position: center;
}
#cat-8{
  background: url(imgs/home/cat-8.png) no-repeat center;
  object-fit: contain;
  object-position: center;
}
.popular-section{
  padding: 100px;
    display: block;
    height: 70vh;
    background: #062D18;

}
.popular-section h2{
  font-weight: 600;
    font-size: 39px;
    line-height: 55px;
    color: #F29C00;
    padding-top: 10px;
    margin-left: 60px;
}
.popular-section .btn{
  border-radius: 75px 75px;
  background: #195115;
  padding-top: 5px;
  text-align: center;
  width: 140px;
  height: 30px;
  color: #fff;
}
button.btn{
  font-size: 15px;
   padding:7px;
   border: 1px solid #FFF;
   color: #FFF;
   display: block;
   margin: 20px auto;
   margin-bottom: 70px;
   background: transparent;
   transition: .2s ease-in-out 0s;
}
button.btn:hover{
  cursor: pointer;
  transform: scale(1.20);
  background: #F29C00;
  color: #000;
  }
.popular-section .popular-container{
  display: flex;
  margin-left: 15px;
  margin-top: 40px;
  text-align: center;
  margin-right: 50px;
}
.popular-section .popular-text{
  display: block;
}
.popular-section .popular-item{
  background: #FDEB76;
  display: block;
  padding-right: 10px;
  width: 230px;
  height: 250px;
  border-radius: 10px;
  margin-left: 15px;
  text-align: center;
  padding-bottom: 20px;
}
.popular-section .img-container
{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.popular-section .h5{
  display: flex;
}
.popular-section .img-bg
{
  background: #F29C00;
  border-radius: 50px;
  width: 50px;
  height: 60px;
}
.popular-section .imgBx:hover .img-container{
  transform: scale(1.1);
}
.popular-section .imgBx:hover .img-bg{
  transform: scale(1.1);
}
#burger{
  background: url(images/home/burger.png) no-repeat center;
  object-fit: contain;
  object-position: center;
}
/*Start of Who Section*/
.who-section{
    text-align: center;
    justify-content: center;
    padding: 100px;
    display: block;
    height: 70vh;
    background: #fff;
}
.who-section .who-tropical-logo{
  padding-top: 180px;
}
/*End of Who Section*/

/*Start of Customer Section*/
.customer-section{
  padding-top: 100px;
  background: #104911;
  padding: 100px;
  height: 120vh;
  justify-content: center;
}
.customer-section h2{
  text-align: center;
  font-weight: 600;
  font-size: 39px;
  line-height: 55px;
  color: #FDEEA1;
  padding-top: 100px;
  margin-left: 200px;
}
.customer-section h3{
  color: #F29C00;
}
.customer-section .container{
  display: inline-flex;
  padding-bottom: 50px;
  margin-left: 100px;
}
.customer-section .customer-container{
  display: block;
  margin:auto;
  width: fit-content;

}
.customer-section img{
width: 100px;
height: 100px;
border-radius: 50px;
margin-right: 40px;
}
.customer-section .customer-review{
margin-left: 20px;
display: inline-block;
}
.customer-section .face{
  display: flex;
}
.customer-section p{
  padding-left: 140px;
  color: #fff;
}
.customer-section .checked{
  color: orange;
}
.customer-section .rate{
  padding-left: 140px;
}
.customer-section .customer-container-left{
    width: 700px;
    height: 350px;
    background: #0E4213;
    margin:30px 10px;
    display:flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #062D18;
    transition:0.3s ease-in-out;
    margin-top: 10px;
    justify-content: center;
    text-align: justify;
    border-radius: 10px;
}
/*End of Who Section*/

/*Start of Footer Section*/
.footer-section{
  display: block;
  height: fit-content;
  background: #1E5617;
}

.footer-section .footer-menu{
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  display: inline-block
}
.footer-section .footer-about{
  width: 258px;
    height: 247px;
    display: block;
    text-align: left;
    margin: auto;
    padding: 0 50px;
}
.footer-section .footer-container{
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: auto;
  padding-top: 50px;
  padding-right: 340px;
}
.footer-section h5{
  text-align: center;
  height: fit-content;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #60646C;
}
.footer-section h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
  color: #FFF;
}
.footer-section a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    width: fit-content;
    color: white;  
    margin: auto;
}
.footer-section i{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  width: fit-content;
  color: #1E5617;  
  margin: auto;
}
.footer-section .footer-follow {
  display: inline-block;
  margin-right: 400px;
}
.footer-section .topicalhut{
  width: 190px;
}

.footer-section .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #fff;
  }
  
  .fa-twitter {
    background: #fff;
  }
  
  .fa-instagram {
    background: #fff;
  }

.fa:hover {
  opacity: 0.7;
}

/* Start of Account */

.account-section{
  background: #062D18;
  padding-top: 180px;
  align-items: center;
  font-family: 'Poppins';
}
.account-section #account-form{
    margin: auto;
    width: fit-content;
    padding-bottom: 10px;
    line-height: 40px;
}
.account-section label{
  display: flex;
  font-size: 2ch;
  color: #EEF3EA;
}
.account-section input{
  scale: 1.1;
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px black;
  border-radius: 4px;
  color: black;
}
.account-section h3{
  font-size: 2ch;
  color: white;
  display: block;
  margin-top: 70px;
}
.account-section .address{
  height: 90px;
}
.account-section h2{
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 39px;
  line-height: 255px;
}
.account-section h1{
  text-align: center;
  font-size: 5ch;
}
.account-section .center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.account-section .btn-container{
  justify-content: center;
  padding-right: 100px;
}

.account-section button{
  padding: 10px 120px;
  height: 60px;
  font-weight: bold;
  color: #0D2317 ;
  background: #F9A620;
  border-radius: 75px 75px;
  text-align: center;
  
}
.account-section button:hover{
  cursor: pointer;
  transform: scale(1.10);
  background: #F29C00;
  color: #fff;
  }


/* End of Account */

/* Start of Order */

.order-section {
  border-collapse: collapse;
  width: 100%;
  padding-top: 150px;
  margin-left: 80px;
}
.order-section th{
  border: 1px solid #ddd;
  padding: 8px;
  font-weight: bold;
  font-size: 2ch;
}
.order-section h2{
  color: black;
  font-weight: 600;
  font-size: 39px;
  line-height: 100px;
  margin-left: 80px;
}
.order-section h3{
  color: #fff;
  font-weight: 600;
  font-size: 2.5ch;
  line-height: 100px;
  text-align: center;
  background-color: #062D18;
}
.order-section .order-right{
  background-color: #062D18;
  height: 1150px;
  width: 600px;
  margin-left: 100px;
  border-radius: 10px;
}
.order-section span{
  font-style: normal;
  font-weight: 100;
  color: white;
  line-height: 1;
}
.order-section .order-right td{
  color: #fff;
}
.order-section .table-list{
  width: 1000px;
}
.order-section .table-summary{
  width: 600px;
  padding-right: 200px;
}
.order-section .table-summary span{
  color: #F29C00;
} 
.order-section .order-right-bottom{
  display: block;
}
.order-section .order-right-bottom h4{
  display: block;
  color: #F29C00;
  margin-left: 60px;
  font-size: 2ch;
}
.order-section .order-right-bottom h2{
  display: block;
  color: #fff;
  font-size: 1.8ch;
  line-height: 90%;
}
.order-section .row1{
  color: #fff;
  display: flex;
}
.order-section p{
  color: #062D18;
  font-weight: bold;
}
.order-section img{
  height: 250px; 
  width: 250px;
}
.order-section .table-list tr:hover{
  background-color: #ddd;
}
.order-section th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: none;
}
.order-section td{
  text-align: center;
  color: #0D2317;
  font-size: 2ch;
  font-weight: bold;
}
.order-section .order-table-{
  display: flex;
}
.order-section .order-left{
  margin-bottom: 180px;
}
#myform {
  text-align: center;
  padding: 5px;
  border: 1px dotted #ccc;
  margin: 2%;
}
.qty {
  width: 70px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
}
input.qtyplus { 
  width:35px; 
  height:35px; 
  border-radius: 50px; 
  background-color: #0D2317;
  color: #fff;}

input.qtyminus { 
  width:35px; 
  height:35px;
  border-radius: 50px;
  background-color: #0D2317;
  color: #fff;
}
.order-section .btn-container{
  justify-content: center;
  padding-right: 100px;
}

.order-section button{
  padding: 10px 120px;
  height: 70px;
  font-size: 2ch;
  font-weight: bold;
  color: #0D2317 ;
  background: #F9A620;
  border-radius: 75px 75px;
  text-align: center;
  justify-content: center;
  
}
.order-section button:hover{
  cursor: pointer;
  transform: scale(1.10);
  background: #F29C00;
  color: #fff;
  }
  .order-section .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .order-section a{
    display: flex;
    justify-content: center;
    align-items: center;
   line-height: 3;
   color: #80B918;
  }
/* End of Order */